<footer class="bg-slate-800 border border-slate-700 border-b-0 border-x-0 flex-none sticky bottom-0 z-50">
  <div class="mx-auto max-w-full sm:px-4 md:px-6 lg:px-10 xl:px-20">
    <div class="relative flex h-14 justify-between items-center">
      <div>
        <p class="text-white block text-sm">© 2023 FastTravel, Inc.</p>
      </div>
    </div>
  </div>
</footer>