<div 
  data-controller="modal"
  id="modal-wrapper"
  class="relative z-10"
  aria-labelledby="modal-title"
  role="dialog"
  aria-modal="true"
>
  <div 
    id="modal-backdrop" 
    class="fixed inset-0 bg-slate-900 bg-opacity-75 transition-opacity backdrop-blur h-full"
  ></div>

  <div class="fixed inset-0 z-10 overflow-y-auto">
    <div class="flex min-h-full justify-center p-4 text-center items-center sm:p-0">
      <div 
        id="modal-panel" 
        class="relative transform overflow-hidden divide-slate-700 rounded-lg bg-slate-800 text-left shadow-xl transition-all max-h-screen mt-28 mb-24 w-full md:mx-10 lg:mx-20 xl:mx-28"
      >
          
      <div class="flex w-full">
        <div class="w-1/5 p-4 flex flex-col">
          <img src="https://a0.muscache.com/im/pictures/dc77b547-0d65-438e-8946-c10fc355866d.jpg?im_w=720" class="mb-3 drop-shadow-lg rounded-xl w-full aspect-square object-cover pointer-events-none" />
          <p class="text-white xl:text-lg">To: Vietnam - Hanoi</p>
          <p class="text-white xl:text-lg">Take off: 2023/01/09 13:40</p>
          <p class="text-white xl:text-lg">Available Seats: 34</p>
          <p class="text-white xl:text-lg">Child Price: 1,130.99$</p>
          <p class="text-white xl:text-lg">Adult Price: 1,229.99$</p>
          <p class="text-white xl:text-lg">Elder Price: 999.99$</p>
        </div>
        <div class="w-4/5 p-4 flex flex-col gap-4 max-h-screen">
          <div class="flex-none flex justify-between font-bold leading-tight text-xl text-white">
            <div class="flex items-center">
              <h1>From&nbsp</h1>
              <h1 class="text-mint">Israel - Tel Aviv</h1>
              <h1>&nbspto&nbsp</h1>
              <h1 class="text-mint">Vietnam - Hanoi</h1>
            </div>
            <button class="bg-slate-800 rounded-full font-bold text-white uppercase p-1 transition-all hover:drop-shadow-xl hover:bg-mint hover:text-slate-800 hover:scale-105 active:scale-90">
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6.2253 4.81108C5.83477 4.42056 5.20161 4.42056 4.81108 4.81108C4.42056 5.20161 4.42056 5.83477 4.81108 6.2253L10.5858 12L4.81114 17.7747C4.42062 18.1652 4.42062 18.7984 4.81114 19.1889C5.20167 19.5794 5.83483 19.5794 6.22535 19.1889L12 13.4142L17.7747 19.1889C18.1652 19.5794 18.7984 19.5794 19.1889 19.1889C19.5794 18.7984 19.5794 18.1652 19.1889 17.7747L13.4142 12L19.189 6.2253C19.5795 5.83477 19.5795 5.20161 19.189 4.81108C18.7985 4.42056 18.1653 4.42056 17.7748 4.81108L12 10.5858L6.2253 4.81108Z" fill="currentColor" /></svg>
            </button>
          </div>
          <div class="flex-1 flex-col overflow-y-scroll p-4 text-white bg-slate-700 shadow-inner gap-6">
            <div>
              <p>Flight Number - Flight Company - Flight Duration</p>
              <p>Origin Country | Date | Day | Time | City | Port</p>
              <p>Destination | Date | Day | Time | City | Port</p>
              <br>
            </div>
            <div>
              <p>Flight Number - Flight Company - Flight Duration</p>
              <p>Origin Country | Date | Day | Time | City | Port</p>
              <p>Destination | Date | Day | Time | City | Port</p>
              <br>
            </div>
            <div>
              <p>Flight Number - Flight Company - Flight Duration</p>
              <p>Origin Country | Date | Day | Time | City | Port</p>
              <p>Destination | Date | Day | Time | City | Port</p>
              <br>
            </div>
            <div>
              <p>Flight Number - Flight Company - Flight Duration</p>
              <p>Origin Country | Date | Day | Time | City | Port</p>
              <p>Destination | Date | Day | Time | City | Port</p>
              <br>
            </div>
          </div>
          <div class="flex-none flex justify-between items-center font-bold leading-tight text-xl text-white">
            <div class="flex">
              <p>Stops:&nbsp</p>
              <p>0</p>
            </div>
            <div class="flex items-center">
              <button class="bg-slate-800 rounded-full font-bold text-white uppercase py-2 px-6 transition-all hover:drop-shadow-xl hover:bg-mint hover:text-slate-800 hover:scale-105 active:scale-90">Proceed
              </button>
            </div>
          </div>
        </div>
      </div>

      </div>
    </div>
  </div>
</div>