<link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@900&display=swap" rel="stylesheet" />

  <div class="background-animate relative flex flex-1 items-center justify-center bg-gradient-to-tl from-slate-900 via-mint to-slate-900 py-12 px-4 sm:px-8 lg:px-8">
    <div class="w-full items-center justify-center rounded-lg bg-slate-800 p-8 shadow-xl backdrop-blur sm:max-w-3xl">
      <div class="flex flex-col items-center justify-center w-full">
        <div class="scale-150">
          <button class="group z-10 h-20 relative flex px-0 items-center transition-all hover:scale-105 active:scale-90"> <!-- logo holder -->
            <svg class="hidden transition-all w-8 sm:block h-8 text-mint group-hover:text-white" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 96 96" fill="currentColor">
              <path opacity="1.000000" stroke="none" d="M 84 55 C 75 62 65 69 54 76 C 48 79 41 80 41 70 C 41 51 41 41.8 41 26 C 41 16 48 17 54 20 C 65 27 75 34 84 41 C 90 46 90 50 84 55 Z" style="fill-rule: evenodd;"></path>
              <path opacity="1.000000" stroke="none" d="M 35 48 C 35 54 35 56 35 65 C 35 71 27 74 23 76 C 17 79 10 80 10 70 C 10 55 10 41 10 26 C 10 16 17 17 23 20 C 27 22 35 25 35 31 C 35 40 35 42 35 48 Z" style="fill-rule: evenodd;"></path>
            </svg>
            <svg class="hidden transition-all w-32 lg:block h-16 text-mint group-hover:text-white" xmlns="http://www.w3.org/2000/svg" viewBox="156 150 200 200" fill="currentColor">
              <path d="M 72.159 276.88 L 72.159 223.606 L 106.557 223.606 L 106.557 232.654 L 82.923 232.654 L 82.923 248.722 L 102.267 248.722 L 102.267 257.77 L 82.923 257.77 L 82.923 276.88 Z" fill-rule: evenodd; white-space: pre;"></path>
              <path d="M 121.831 277.738 Q 115.747 277.738 112.666 274.657 Q 109.585 271.576 109.585 265.336 Q 109.585 260.968 111.145 258.511 Q 112.705 256.054 115.786 254.923 Q 118.867 253.792 123.313 253.558 L 132.829 252.7 L 132.829 250.36 Q 132.829 247.552 131.425 246.421 Q 130.021 245.29 127.291 245.29 Q 125.107 245.29 122.26 245.446 Q 119.413 245.602 116.644 245.836 Q 113.875 246.07 111.847 246.304 L 111.535 238.972 Q 113.563 238.504 116.41 237.997 Q 119.257 237.49 122.377 237.178 Q 125.497 236.866 128.149 236.866 Q 133.141 236.866 136.495 238.114 Q 139.849 239.362 141.565 242.209 Q 143.281 245.056 143.281 249.892 L 143.281 267.754 Q 143.437 268.846 144.451 269.431 Q 145.465 270.016 146.791 270.25 L 146.557 277.426 Q 144.685 277.504 142.891 277.504 Q 141.097 277.504 139.849 277.27 Q 138.055 277.036 136.768 276.334 Q 135.481 275.632 134.701 274.852 Q 133.453 275.398 131.347 276.1 Q 129.241 276.802 126.784 277.27 Q 124.327 277.738 121.831 277.738 Z M 124.327 270.016 Q 125.809 270.016 127.447 269.704 Q 129.085 269.392 130.528 268.963 Q 131.971 268.534 132.829 268.144 L 132.829 259.174 L 124.873 259.876 Q 122.299 260.11 121.168 261.397 Q 120.037 262.684 120.037 265.024 Q 120.037 267.364 121.09 268.69 Q 122.143 270.016 124.327 270.016 Z" style="fill-rule: evenodd; white-space: pre;"></path>
              <path d="M 166.528 277.738 Q 163.954 277.738 161.029 277.465 Q 158.104 277.192 155.569 276.802 Q 153.034 276.412 151.24 276.022 L 151.552 268.3 Q 153.58 268.534 156.115 268.846 Q 158.65 269.158 161.107 269.353 Q 163.564 269.548 165.124 269.548 Q 167.464 269.548 168.985 269.158 Q 170.506 268.768 171.286 267.871 Q 172.066 266.974 172.066 265.258 Q 172.066 263.932 171.403 263.23 Q 170.74 262.528 168.907 262.021 Q 167.074 261.514 163.564 260.968 Q 159.196 260.344 156.349 259.174 Q 153.502 258.004 152.176 255.703 Q 150.85 253.402 150.85 249.424 Q 150.85 244.588 152.956 241.858 Q 155.062 239.128 158.572 237.997 Q 162.082 236.866 166.216 236.866 Q 168.946 236.866 171.832 237.139 Q 174.718 237.412 177.292 237.802 Q 179.866 238.192 181.582 238.582 L 181.27 246.46 Q 179.32 246.148 176.746 245.875 Q 174.172 245.602 171.637 245.446 Q 169.102 245.29 167.386 245.29 Q 165.592 245.29 164.188 245.641 Q 162.784 245.992 162.043 246.772 Q 161.302 247.552 161.302 249.112 Q 161.302 250.204 161.926 250.906 Q 162.55 251.608 164.305 252.115 Q 166.06 252.622 169.414 253.09 Q 174.25 253.792 177.136 255.04 Q 180.022 256.288 181.309 258.628 Q 182.596 260.968 182.596 264.946 Q 182.596 272.044 178.423 274.891 Q 174.25 277.738 166.528 277.738 Z" style="fill-rule: evenodd; white-space: pre;"></path>
              <path d="M 203.185 277.816 Q 198.895 277.816 196.243 276.568 Q 193.591 275.32 192.46 272.239 Q 191.329 269.158 191.329 263.62 L 191.329 246.382 L 186.727 246.382 L 186.727 237.724 L 191.329 237.724 L 191.329 227.35 L 201.703 227.35 L 201.703 237.724 L 211.687 237.724 L 211.687 246.382 L 201.703 246.382 L 201.703 260.89 Q 201.703 263.932 201.976 265.648 Q 202.249 267.364 203.185 268.066 Q 204.121 268.768 206.071 268.768 Q 206.617 268.768 207.709 268.69 Q 208.801 268.612 209.893 268.534 Q 210.985 268.456 211.687 268.378 L 211.999 276.724 Q 210.127 277.036 207.514 277.426 Q 204.901 277.816 203.185 277.816 Z" style="fill-rule: evenodd; white-space: pre;"></path>
              <path d="M 228.002 276.88 L 228.002 232.732 L 213.65 232.732 L 213.65 223.606 L 252.65 223.606 L 252.65 232.732 L 238.766 232.732 L 238.766 276.88 Z" style="fill-rule: evenodd; white-space: pre;"></path>
              <path d="M 252.254 276.88 L 252.254 237.724 L 262.628 237.724 L 262.628 242.326 Q 263.954 241.312 265.904 240.181 Q 267.854 239.05 270.155 238.075 Q 272.456 237.1 274.562 236.788 L 274.562 246.85 Q 272.534 247.162 270.272 247.903 Q 268.01 248.644 266.021 249.502 Q 264.032 250.36 262.628 251.062 L 262.628 276.88 Z" style="fill-rule: evenodd; white-space: pre;"></path>
              <path d="M 290.159 277.738 Q 284.075 277.738 280.994 274.657 Q 277.913 271.576 277.913 265.336 Q 277.913 260.968 279.473 258.511 Q 281.033 256.054 284.114 254.923 Q 287.195 253.792 291.641 253.558 L 301.157 252.7 L 301.157 250.36 Q 301.157 247.552 299.753 246.421 Q 298.349 245.29 295.619 245.29 Q 293.435 245.29 290.588 245.446 Q 287.741 245.602 284.972 245.836 Q 282.203 246.07 280.175 246.304 L 279.863 238.972 Q 281.891 238.504 284.738 237.997 Q 287.585 237.49 290.705 237.178 Q 293.825 236.866 296.477 236.866 Q 301.469 236.866 304.823 238.114 Q 308.177 239.362 309.893 242.209 Q 311.609 245.056 311.609 249.892 L 311.609 267.754 Q 311.765 268.846 312.779 269.431 Q 313.793 270.016 315.119 270.25 L 314.885 277.426 Q 313.013 277.504 311.219 277.504 Q 309.425 277.504 308.177 277.27 Q 306.383 277.036 305.096 276.334 Q 303.809 275.632 303.029 274.852 Q 301.781 275.398 299.675 276.1 Q 297.569 276.802 295.112 277.27 Q 292.655 277.738 290.159 277.738 Z M 292.655 270.016 Q 294.137 270.016 295.775 269.704 Q 297.413 269.392 298.856 268.963 Q 300.299 268.534 301.157 268.144 L 301.157 259.174 L 293.201 259.876 Q 290.627 260.11 289.496 261.397 Q 288.365 262.684 288.365 265.024 Q 288.365 267.364 289.418 268.69 Q 290.471 270.016 292.655 270.016 Z" style="fill-rule: evenodd; white-space: pre;"></path>
              <path d="M 325.963 276.88 L 316.681 237.724 L 327.835 237.724 L 334.387 268.066 L 336.649 268.066 L 343.357 237.724 L 353.887 237.724 L 344.605 276.88 Z" style="fill-rule: evenodd; white-space: pre;"></path>
              <path d="M 374.556 277.738 Q 368.082 277.738 364.299 275.554 Q 360.516 273.37 358.878 268.924 Q 357.24 264.478 357.24 257.77 Q 357.24 250.516 359.307 245.914 Q 361.374 241.312 365.352 239.089 Q 369.33 236.866 375.18 236.866 Q 383.838 236.866 388.245 241.234 Q 392.652 245.602 392.652 255.04 L 392.184 260.812 L 367.692 260.812 Q 367.77 265.18 369.486 267.364 Q 371.202 269.548 375.414 269.548 Q 377.832 269.548 380.718 269.431 Q 383.604 269.314 386.451 269.158 Q 389.298 269.002 391.326 268.846 L 391.56 276.1 Q 389.61 276.412 386.646 276.802 Q 383.682 277.192 380.523 277.465 Q 377.364 277.738 374.556 277.738 Z M 367.692 254.182 L 382.278 254.182 Q 382.278 248.878 380.601 246.772 Q 378.924 244.666 375.18 244.666 Q 371.514 244.666 369.603 246.85 Q 367.692 249.034 367.692 254.182 Z" style="fill-rule: evenodd; white-space: pre;"></path>
              <path d="M 399.831 276.88 L 399.831 221.734 L 410.205 221.734 L 410.205 276.88 Z" style="fill-rule: evenodd; white-space: pre;"></path>
            </svg>
          </button>
        </div>
        <div class="flex">
          <p class="text-white font-bold text-xl">Made by&nbsp</p>
          <p class="text-mint font-bold text-xl">Maxim Simura</p>
          <p class="text-white font-bold text-xl">&nbspand&nbsp</p>
          <p class="text-mint font-bold text-xl">Michael Vayntrub</p>
        </div>
      </div>
    </div>
  </div>

  <style>
    .background-animate
    {
      background-size: 1000%;

      -webkit-animation: AnimationName 30s ease infinite;
      -moz-animation: AnimationName 30s ease infinite;
      animation: AnimationName 30s ease infinite;
    }

    @@keyframes AnimationName {
      0%,
      100% {
        background-position: 0% 50%;
      }
      50% {
        background-position: 100% 50%;
      }
    }
  </style>
