@model Package
@{
    ViewData["Title"] = "Home Page";
}

<div class="flex flex-col flex-1 px-2 sm:px-6 lg:px-10 xl:px-20">
  <div class="flex-none w-full h-20">
    <div class="flex justify-center items-center w-full h-full">
      <div class="font-bold leading-tight uppercase text-3xl text-mint drop-shadow-lg">Checkout
      </div>
    </div>
  </div>
  <div class="flex-1 w-full">
    <div class="flex h-full w-full">
      <div class="flex w-2/3">
        <div class="bg-slate-800 flex-1 m-2 rounded-md">
          <div class="w-full h-full flex flex-col divide-y p-4 gap-4">
            <div class="grid grid-cols-5 py-2 gap-2 items-center">
              <p class="text-white xl:text-lg font-bold col-span-2">Children (2 - 23) - XXX$</p>
              <p class="text-mint text-right xl:text-lg col-span-1">XXXX$</p>
              <div class="col-span-2 gap-4 flex items-center justify-center">
                <button class="bg-slate-800 mx-2 rounded-full font-bold text-white uppercase p-0.5 transition-all hover:drop-shadow-xl hover:bg-mint hover:text-slate-800 hover:scale-105 active:scale-90">
                  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M4 12C4 11.4477 4.44772 11 5 11H19C19.5523 11 20 11.4477 20 12C20 12.5523 19.5523 13 19 13H5C4.44772 13 4 12.5523 4 12Z" fill="currentColor" /></svg>
                </button>
                <p class="text-mint xl:text-lg pb-1">0</p>
                <button class="bg-slate-800 mx-2 rounded-full font-bold text-white uppercase p-0.5 transition-all hover:drop-shadow-xl hover:bg-mint hover:text-slate-800 hover:scale-105 active:scale-90">
                  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M12 4C11.4477 4 11 4.44772 11 5V11H5C4.44772 11 4 11.4477 4 12C4 12.5523 4.44772 13 5 13H11V19C11 19.5523 11.4477 20 12 20C12.5523 20 13 19.5523 13 19V13H19C19.5523 13 20 12.5523 20 12C20 11.4477 19.5523 11 19 11H13V5C13 4.44772 12.5523 4 12 4Z" fill="currentColor" /></svg>
                </button>
              </div>
              <p class="text-white xl:text-lg font-bold col-span-2">Adults (24 - 65) - XXX$</p>
              <p class="text-mint text-right xl:text-lg col-span-1">XXXX$</p>
              <div class="col-span-2 gap-4 flex items-center justify-center">
                <button class="bg-slate-800 mx-2 rounded-full font-bold text-white uppercase p-0.5 transition-all hover:drop-shadow-xl hover:bg-mint hover:text-slate-800 hover:scale-105 active:scale-90">
                  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M4 12C4 11.4477 4.44772 11 5 11H19C19.5523 11 20 11.4477 20 12C20 12.5523 19.5523 13 19 13H5C4.44772 13 4 12.5523 4 12Z" fill="currentColor" /></svg>
                </button>
                <p class="text-mint xl:text-lg pb-1">0</p>
                <button class="bg-slate-800 mx-2 rounded-full font-bold text-white uppercase p-0.5 transition-all hover:drop-shadow-xl hover:bg-mint hover:text-slate-800 hover:scale-105 active:scale-90">
                  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M12 4C11.4477 4 11 4.44772 11 5V11H5C4.44772 11 4 11.4477 4 12C4 12.5523 4.44772 13 5 13H11V19C11 19.5523 11.4477 20 12 20C12.5523 20 13 19.5523 13 19V13H19C19.5523 13 20 12.5523 20 12C20 11.4477 19.5523 11 19 11H13V5C13 4.44772 12.5523 4 12 4Z" fill="currentColor" /></svg>
                </button>
              </div>
              <p class="text-white xl:text-lg font-bold col-span-2">Elders (66+) - XXX$</p>
              <p class="text-mint text-right xl:text-lg col-span-1">XXXX$</p>
              <div class="col-span-2 gap-4 flex items-center justify-center">
                <button class="bg-slate-800 mx-2 rounded-full font-bold text-white uppercase p-0.5 transition-all hover:drop-shadow-xl hover:bg-mint hover:text-slate-800 hover:scale-105 active:scale-90">
                  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M4 12C4 11.4477 4.44772 11 5 11H19C19.5523 11 20 11.4477 20 12C20 12.5523 19.5523 13 19 13H5C4.44772 13 4 12.5523 4 12Z" fill="currentColor" /></svg>
                </button>
                <p class="text-mint xl:text-lg pb-1">0</p>
                <button class="bg-slate-800 mx-2 rounded-full font-bold text-white uppercase p-0.5 transition-all hover:drop-shadow-xl hover:bg-mint hover:text-slate-800 hover:scale-105 active:scale-90">
                  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M12 4C11.4477 4 11 4.44772 11 5V11H5C4.44772 11 4 11.4477 4 12C4 12.5523 4.44772 13 5 13H11V19C11 19.5523 11.4477 20 12 20C12.5523 20 13 19.5523 13 19V13H19C19.5523 13 20 12.5523 20 12C20 11.4477 19.5523 11 19 11H13V5C13 4.44772 12.5523 4 12 4Z" fill="currentColor" /></svg>
                </button>
              </div>
            </div>
            <div class="grid grid-cols-5 py-2 gap-2 items-center">
              <p class="col-span-1 text-white font-bold text-lg">Adult</p>
              <p class="col-span-4"></p>
              <p class="col-span-1 text-white font-bold">First Name:</p>
              <input type="text" class="px-4 py-3 col-span-4 w-full font-bold transition-all rounded-md text-white placeholder-white bg-slate-800 border border-white hover:border-mint hover:text-mint hover:placeholder-mint focus:border-mint focus:text-mint focus:placeholder-mint focus:ring-0 text-sm outline-none focus:outline-none drop-shadow-lg hover:drop-shadow-xl focus:drop-shadow-xl">
              <p class="col-span-1 text-white font-bold">Last Name:</p>
              <input type="text" class="px-4 py-3 col-span-4 w-full font-bold transition-all rounded-md text-white placeholder-white bg-slate-800 border border-white hover:border-mint hover:text-mint hover:placeholder-mint focus:border-mint focus:text-mint focus:placeholder-mint focus:ring-0 text-sm outline-none focus:outline-none drop-shadow-lg hover:drop-shadow-xl focus:drop-shadow-xl">
              <p class="col-span-1 text-white font-bold">ID:</p>
              <input type="text" maxlength="9" class="px-4 py-3 col-span-4 w-full font-bold transition-all rounded-md text-white placeholder-white bg-slate-800 border border-white hover:border-mint hover:text-mint hover:placeholder-mint focus:border-mint focus:text-mint focus:placeholder-mint focus:ring-0 text-sm outline-none focus:outline-none drop-shadow-lg hover:drop-shadow-xl focus:drop-shadow-xl">
              <p class="col-span-1 text-white font-bold">Birth Date:</p>
              <input type="date" class="px-4 py-3 col-span-4 w-full font-bold transition-all rounded-md text-white placeholder-white bg-slate-800 border border-white hover:border-mint hover:text-mint hover:placeholder-mint focus:border-mint focus:text-mint focus:placeholder-mint focus:ring-0 text-sm outline-none focus:outline-none drop-shadow-lg hover:drop-shadow-xl focus:drop-shadow-xl">
              <p class="col-span-3 text-white font-bold py-3">Gender:</p>
              <div class="col-span-1 flex items-center gap-1">
                <input type="radio" name="gender" value="male" class="accent-mint mt-0.5">
                <label for="male" class="text-white font-bold">Male</label>
              </div>
              <div class="col-span-1 flex items-center gap-1">
                <input type="radio" name="gender" value="female" class="accent-mint mt-0.5">
                <label for="female" class="text-white font-bold">Female</label>
              </div>
              <div class="col-span-5 border border-white bg-slate-800 rounded-md flex flex-col px-4 py-2">
                <p class="text-white font-bold uppercase">Luggage</p>
                <p class="text-white">Max Weight: 30kg</p>
              </div>
            </div>
            <div class="grid grid-cols-5 py-2 gap-2 items-center">
              <p class="col-span-1 text-white font-bold text-lg">Child</p>
              <p class="col-span-4"></p>
              <p class="col-span-1 text-white font-bold">First Name:</p>
              <input type="text" class="px-4 py-3 col-span-4 w-full font-bold transition-all rounded-md text-white placeholder-white bg-slate-800 border border-white hover:border-mint hover:text-mint hover:placeholder-mint focus:border-mint focus:text-mint focus:placeholder-mint focus:ring-0 text-sm outline-none focus:outline-none drop-shadow-lg hover:drop-shadow-xl focus:drop-shadow-xl">
              <p class="col-span-1 text-white font-bold">Last Name:</p>
              <input type="text" class="px-4 py-3 col-span-4 w-full font-bold transition-all rounded-md text-white placeholder-white bg-slate-800 border border-white hover:border-mint hover:text-mint hover:placeholder-mint focus:border-mint focus:text-mint focus:placeholder-mint focus:ring-0 text-sm outline-none focus:outline-none drop-shadow-lg hover:drop-shadow-xl focus:drop-shadow-xl">
              <p class="col-span-1 text-white font-bold">ID:</p>
              <input type="text" maxlength="9" class="px-4 py-3 col-span-4 w-full font-bold transition-all rounded-md text-white placeholder-white bg-slate-800 border border-white hover:border-mint hover:text-mint hover:placeholder-mint focus:border-mint focus:text-mint focus:placeholder-mint focus:ring-0 text-sm outline-none focus:outline-none drop-shadow-lg hover:drop-shadow-xl focus:drop-shadow-xl">
              <p class="col-span-1 text-white font-bold">Birth Date:</p>
              <input type="date" class="px-4 py-3 col-span-4 w-full font-bold transition-all rounded-md text-white placeholder-white bg-slate-800 border border-white hover:border-mint hover:text-mint hover:placeholder-mint focus:border-mint focus:text-mint focus:placeholder-mint focus:ring-0 text-sm outline-none focus:outline-none drop-shadow-lg hover:drop-shadow-xl focus:drop-shadow-xl">
              <p class="col-span-3 text-white font-bold py-3">Gender:</p>
              <div class="col-span-1 flex items-center gap-1">
                <input type="radio" name="gender" value="male" class="accent-mint mt-0.5">
                <label for="male" class="text-white font-bold">Male</label>
              </div>
              <div class="col-span-1 flex items-center gap-1">
                <input type="radio" name="gender" value="female" class="accent-mint mt-0.5">
                <label for="female" class="text-white font-bold">Female</label>
              </div>
              <div class="col-span-5 border border-white bg-slate-800 rounded-md flex flex-col px-4 py-2">
                <p class="text-white font-bold uppercase">Luggage</p>
                <p class="text-white">Max Weight: 10kg</p>
              </div>
            </div>
            <div class="grid grid-cols-5 py-2 gap-2 items-center">
              <p class="col-span-1 text-white font-bold text-lg">Elder</p>
              <p class="col-span-4"></p>
              <p class="col-span-1 text-white font-bold">First Name:</p>
              <input type="text" class="px-4 py-3 col-span-4 w-full font-bold transition-all rounded-md text-white placeholder-white bg-slate-800 border border-white hover:border-mint hover:text-mint hover:placeholder-mint focus:border-mint focus:text-mint focus:placeholder-mint focus:ring-0 text-sm outline-none focus:outline-none drop-shadow-lg hover:drop-shadow-xl focus:drop-shadow-xl">
              <p class="col-span-1 text-white font-bold">Last Name:</p>
              <input type="text" class="px-4 py-3 col-span-4 w-full font-bold transition-all rounded-md text-white placeholder-white bg-slate-800 border border-white hover:border-mint hover:text-mint hover:placeholder-mint focus:border-mint focus:text-mint focus:placeholder-mint focus:ring-0 text-sm outline-none focus:outline-none drop-shadow-lg hover:drop-shadow-xl focus:drop-shadow-xl">
              <p class="col-span-1 text-white font-bold">ID:</p>
              <input type="text" maxlength="9" class="px-4 py-3 col-span-4 w-full font-bold transition-all rounded-md text-white placeholder-white bg-slate-800 border border-white hover:border-mint hover:text-mint hover:placeholder-mint focus:border-mint focus:text-mint focus:placeholder-mint focus:ring-0 text-sm outline-none focus:outline-none drop-shadow-lg hover:drop-shadow-xl focus:drop-shadow-xl">
              <p class="col-span-1 text-white font-bold">Birth Date:</p>
              <input type="date" class="px-4 py-3 col-span-4 w-full font-bold transition-all rounded-md text-white placeholder-white bg-slate-800 border border-white hover:border-mint hover:text-mint hover:placeholder-mint focus:border-mint focus:text-mint focus:placeholder-mint focus:ring-0 text-sm outline-none focus:outline-none drop-shadow-lg hover:drop-shadow-xl focus:drop-shadow-xl">
              <p class="col-span-3 text-white font-bold py-3">Gender:</p>
              <div class="col-span-1 flex items-center gap-1">
                <input type="radio" name="gender" value="male" class="accent-mint mt-0.5">
                <label for="male" class="text-white font-bold">Male</label>
              </div>
              <div class="col-span-1 flex items-center gap-1">
                <input type="radio" name="gender" value="female" class="accent-mint mt-0.5">
                <label for="female" class="text-white font-bold">Female</label>
              </div>
              <div class="col-span-5 border border-white bg-slate-800 rounded-md flex flex-col px-4 py-2">
                <p class="text-white font-bold uppercase">Luggage</p>
                <p class="text-white">Max Weight: 20kg</p>
              </div>
            </div>
            <div class="hidden flex-col grid-cols-5 py-4 gap-2 px-8 items-start">
              <h1 class="text-white font-bold text-xl">Choose How to Pay</h1>
              <button class="flex justify-start items-center p-4 text-white w-full bg-slate-800 transition-all hover:bg-mint hover:text-slate-800 hover:drop-shadow-xl hover:scale-105 active:scale-95 text-xl hover:text-2xl">
                <svg class="w-12 h-12" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M6.47005 3.54443H14.4701C16.1089 3.54443 17.4146 4.31866 18.0963 5.51496C19.3165 6.38743 19.9427 7.91487 19.6082 9.65332C19.0865 12.365 16.425 14.5633 13.6636 14.5633H11.6636L10.5301 20.4553H6.39824L6.62891 19.2563H3.44727L6.47005 3.54443ZM8.0922 5.50842H14.0922C15.7491 5.50842 16.8385 6.82737 16.5254 8.45439C16.2124 10.0814 14.6155 11.4004 12.9587 11.4004H8.95866L7.82511 17.2923H5.82511L8.0922 5.50842Z" fill="currentColor" /></svg>
                <p class="font-bold">Paypal</p>
              </button>
              <button class="flex justify-start items-center p-4 text-white w-full bg-slate-800 transition-all hover:bg-mint hover:text-slate-800 hover:drop-shadow-xl hover:scale-105 active:scale-95 text-xl hover:text-2xl">
                <svg class="w-10 h-10" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M4 9C4 8.44772 4.44772 8 5 8H9C9.55228 8 10 8.44772 10 9C10 9.55228 9.55228 10 9 10H5C4.44772 10 4 9.55228 4 9Z" fill="currentColor" /><path fill-rule="evenodd" clip-rule="evenodd" d="M4 3C1.79086 3 0 4.79086 0 7V17C0 19.2091 1.79086 21 4 21H20C22.2091 21 24 19.2091 24 17V7C24 4.79086 22.2091 3 20 3H4ZM20 5H4C2.89543 5 2 5.89543 2 7V14H22V7C22 5.89543 21.1046 5 20 5ZM22 16H2V17C2 18.1046 2.89543 19 4 19H20C21.1046 19 22 18.1046 22 17V16Z" fill="currentColor" /></svg>
                <p class="pl-2 font-bold">Credit Card</p>
              </button>
            </div>
            <div class="grid grid-cols-5 py-2 gap-2 items-center">
              <!-- Will only show up if credit card was chosen -->
              <p class="col-span-5 text-white font-bold text-lg">Credit Card Information</p>
              <p class="col-span-1 text-white font-bold">Name on Card:</p>
              <input class="px-4 py-3 col-span-4 w-full font-bold transition-all rounded-md text-white placeholder-white bg-slate-800 border border-white hover:border-mint hover:text-mint hover:placeholder-mint focus:border-mint focus:text-mint focus:placeholder-mint focus:ring-0 text-sm outline-none focus:outline-none drop-shadow-lg hover:drop-shadow-xl focus:drop-shadow-xl" placeholder="John Smith" type="text"/>
              <p class="col-span-1 text-white font-bold">Credit Number:</p>
              <input id="ccn" type="tel" inputmode="numeric" pattern="[0-9\s]{13,19}" autocomplete="cc-number" maxlength="19" placeholder="xxxx xxxx xxxx xxxx" class="px-4 py-3 col-span-4 w-full font-bold transition-all rounded-md text-white placeholder-white bg-slate-800 border border-white hover:border-mint hover:text-mint hover:placeholder-mint focus:border-mint focus:text-mint focus:placeholder-mint focus:ring-0 text-sm outline-none focus:outline-none drop-shadow-lg hover:drop-shadow-xl focus:drop-shadow-xl">
              <p class="col-span-1 text-white font-bold">Expiration Date:</p>
              <select class="px-4 py-3 col-span-2 w-full font-bold transition-all rounded-md text-white placeholder-white bg-slate-800 border border-white hover:border-mint hover:text-mint hover:placeholder-mint focus:border-mint focus:text-mint focus:placeholder-mint focus:ring-0 text-sm outline-none focus:outline-none drop-shadow-lg hover:drop-shadow-xl focus:drop-shadow-xl">
                  <option value="01">01 - January</option>
                  <option value="02">02 - February</option>
                  <option value="03">03 - March</option>
                  <option value="04">04 - April</option>
                  <option value="05">05 - May</option>
                  <option value="06">06 - June</option>
                  <option value="07">07 - July</option>
                  <option value="08">08 - August</option>
                  <option value="09">09 - September</option>
                  <option value="10">10 - October</option>
                  <option value="11">11 - November</option>
                  <option value="12">12 - December</option>
              </select>
              <select class="px-4 py-3 col-span-2 w-full font-bold transition-all rounded-md text-white placeholder-white bg-slate-800 border border-white hover:border-mint hover:text-mint hover:placeholder-mint focus:border-mint focus:text-mint focus:placeholder-mint focus:ring-0 text-sm outline-none focus:outline-none drop-shadow-lg hover:drop-shadow-xl focus:drop-shadow-xl">
                  <option value="2020">2020</option>
                  <option value="2021">2021</option>
                  <option value="2022">2022</option>
                  <option value="2023">2023</option>
                  <option value="2024">2024</option>
                  <option value="2025">2025</option>
                  <option value="2026">2026</option>
                  <option value="2027">2027</option>
                  <option value="2028">2028</option>
                  <option value="2029">2029</option>
              </select>
              <p class="col-span-1 text-white font-bold">Security Code:</p>
              <input maxlength="3" inputmode="numeric" class="px-4 py-3 col-span-1 w-full font-bold transition-all rounded-md text-white placeholder-white bg-slate-800 border border-white hover:border-mint hover:text-mint hover:placeholder-mint focus:border-mint focus:text-mint focus:placeholder-mint focus:ring-0 text-sm outline-none focus:outline-none drop-shadow-lg hover:drop-shadow-xl focus:drop-shadow-xl" placeholder="000" type="text"/>
            </div>
          </div>
        </div>
      </div>
      <div class="flex w-1/3">
        <div class="bg-slate-800 flex-1 flex flex-col m-2">
          <div class="sticky h-auto top-24 flex flex-col gap-4">
            <div class="border border-white rounded-md flex flex-col divide-y">
              <div class="flex flex-col items-center py-4 gap-2">
                <img src="https://a0.muscache.com/im/pictures/dc77b547-0d65-438e-8946-c10fc355866d.jpg?im_w=720" class="mb-3 drop-shadow-lg rounded-xl w-3/5 aspect-square object-cover pointer-events-none" />
                <div class="w-3/5">
                  <p class="text-white xl:text-lg">From: Israel - Tel Aviv</p>
                  <p class="text-white xl:text-lg">To: Vietnam - Hanoi</p>
                  <p class="text-white xl:text-lg">Take off: 2023/01/09 13:40</p>
                </div>
              </div>

              <div class="flex flex-col items-center py-4 gap-2">
                <div class="w-3/5">
                  <p class="text-white xl:text-lg">Book price per person: XXXX$</p>
                  <p class="text-white xl:text-lg">Service Fee: XX$</p>
                  <p class="text-white xl:text-lg">Taxes: XX$</p>
                  <br>
                  <p class="text-white font-bold xl:text-lg">Total Price: XXXX$</p>
                </div>
              </div>
            </div>
            <div class="flex items-center">
              <!-- Must only show up if payed with credit card -->
              <input id="remember-me" name="remember-me" type="checkbox" class="h-4 w-4 rounded accent-emerald-400" />
              <label for="remember-me" class="ml-2 block leading-tight text-white">Save credit card for future purchaces</label>
            </div>
            <div class="flex items-center">
              <input id="remember-me" name="remember-me" type="checkbox" class="h-4 w-4 rounded accent-emerald-400" />
              <label for="remember-me" class="ml-2 block leading-tight text-white">I agree that I've read and accepted terms of service</label>
            </div>
            <div class="flex items-center">
              <input id="remember-me" name="remember-me" type="checkbox" class="h-4 w-4 rounded accent-emerald-400" />
              <label for="remember-me" class="ml-2 block leading-tight text-white">I would like to get deals and news from FastTravel on my email</label>
            </div>
            <p class="hidden text-red-500">Some error about payment</p>
            <button class="bg-slate-800 mx-2 rounded-full font-bold text-white uppercase py-2 transition-all hover:drop-shadow-xl hover:bg-mint hover:text-slate-800 hover:scale-105 active:scale-90">Complete Purchase
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>